html {
  background-color: #111;
  color: #aaa;
  font-family: var(--font-lato);
}

body {
  font-size: 16rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.rg {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}